/**
  * Nav
  */
* html li li {
    display: inline; /* IE6 Bugfix... */
}

#mainnav {
    background-color: #999;
    margin: 1.5em -2em 0 -2em;
    ul {
        margin: 0 auto;
        line-height: 2.5em;
        padding: 0 4%;
        background-color: #444;
        @include filter-gradient(#444, #444, vertical);
        @include background-image(linear-gradient(top, #444 0%, #555 45%, #555 55%, #444 100%));
        li {
            display: inline-block;
            width: 24.5%;
            &:not(:last-child) {
                border-right: 1px solid white;
            }
            a {
                color: white;
                font-size: 1.3em;
                text-align: center;
                text-decoration: none;
                display: block;
                &:hover {
                    color: #ddd;
                }
            }
            ul {
                display: none;
                position: absolute;
                z-index: 999;
                width: auto;
                padding: 0;
                li {
                    display: block;
                    border-top: 1px solid white;
                    border-right: none !important;
                    padding: 0.3em 1em;
                    width: 13.5em;
                    a {
                        font-size: 1em;
                        text-align: left;
                        line-height: 1.2em;
                        display: block;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}