/**
  * Nav
  */
* html li li {
    display: inline; /* IE6 Bugfix... */
}

#mainnav {
    background-color: #999;
    margin: 1.5em -2em 0 -2em;
    ul {
        margin: 0 auto;
        line-height: 2.5em;
        padding: 0 4%;
        background: #444;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #444 0%, #555 45%, #555 55%, #444 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(45%, #555), color-stop(55%, #555), color-stop(100%, #444));
        background: -webkit-linear-gradient(top, #444 0%, #555 45%, #555 55%, #444 100%);
        background: -o-linear-gradient(top, #444 0%, #555 45%, #555 55%, #444 100%);
        background: -ms-linear-gradient(top, #444 0%, #555 45%, #555 55%, #444 100%);
        background: linear-gradient(to bottom, #444 0%, #555 45%, #555 55%, #444 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#444444', GradientType=0);
        li {
            display: inline-block;
            width: 24.5%;
            &:not(:last-child) {
                border-right: 1px solid white;
            }
            a {
                color: white;
                font-size: 1.3em;
                text-align: center;
                text-decoration: none;
                display: block;
                &:hover {
                    color: #ddd;
                }
            }
            ul {
                display: none;
                position: absolute;
                z-index: 999;
                width: auto;
                padding: 0;
                li {
                    display: block;
                    border-top: 1px solid white;
                    border-right: none !important;
                    padding: 0.3em 1em;
                    width: 13.5em;
                    a {
                        font-size: 1em;
                        text-align: left;
                        line-height: 1.2em;
                        display: block;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}